<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.apple.coredata.cloudkit.activity.export</string>
		<string>com.apple.coredata.cloudkit.activity.fetch</string>
		<string>com.apple.coredata.cloudkit.activity.import</string>
		<string>com.apple.coredata.cloudkit.activity.setup</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>fr.trevalim.isowebapps</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>capsulebrowser</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
